.git
.gitignore
**/.git
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.venv
venv
env
kaggle.json
**/kaggle.json
*.pem
*.key
dataset
datasets
labels
runs
reports
record
nrp_results*
transfer-learning
*.zip
*.tar
*.tar.gz
